In [ ]:
import pandas as pd
data=pd.read_csv "C:/Users/hp/Desktop/default of credit card clients.csv")
data

    SL NO  EmpID  DepID
0     1.0    7.0    2.0
1     2.0   13.0   26.0
2     NaN   28.0   17.0
3     4.0   21.0   11.0
4     5.0   27.0    NaN
5     6.0   21.0   18.0
6     NaN    5.0   25.0
7     8.0    NaN   15.0
8     9.0   17.0    NaN
9    10.0   22.0   12.0
10   11.0    5.0   11.0
11   12.0    6.0    NaN
12   13.0    NaN   12.0
13   14.0    4.0   28.0
14   15.0   11.0    NaN
15    NaN   14.0   23.0
16   17.0    3.0    NaN
17   18.0    3.0    4.0
18   19.0    NaN   22.0
19   20.0    9.0    3.0

In [ ]:
print(data.isnull().sum())

SL NO    3
EmpID    3
DepID    5
dtype: int64

In [ ]:
from sklearn.impute import SimpleImputer
imp_mean = SimpleImputer(strategy = 'mean')
imp_mean.fit_transform(data)

array([[ 1.        ,  7.        ,  2.        ],
       [ 2.        , 13.        , 26.        ],
       [10.82352941, 28.        , 17.        ],
       [ 4.        , 21.        , 11.        ],
       [ 5.        , 27.        , 15.26666667],
       [ 6.        , 21.        , 18.        ],
       [10.82352941,  5.        , 25.        ],
       [ 8.        , 12.70588235, 15.        ],
       [ 9.        , 17.        , 15.26666667],
       [10.        , 22.        , 12.        ],
       [11.        ,  5.        , 11.        ],
       [12.        ,  6.        , 15.26666667],
       [13.        , 12.70588235, 12.        ],
       [14.        ,  4.        , 28.        ],
       [15.        , 11.        , 15.26666667],
       [10.82352941, 14.        , 23.        ],
       [17.        ,  3.        , 15.26666667],
       [18.        ,  3.        ,  4.        ],
       [19.        , 12.70588235, 22.        ],
       [20.        ,  9.        ,  3.        ]])

In [ ]:
from sklearn.impute import SimpleImputer
imp_mean = SimpleImputer(strategy = 'median')
imp_mean.fit_transform(data)

array([[ 1.,  7.,  2.],
       [ 2., 13., 26.],
       [11., 28., 17.],
       [ 4., 21., 11.],
       [ 5., 27., 15.],
       [ 6., 21., 18.],
       [11.,  5., 25.],
       [ 8., 11., 15.],
       [ 9., 17., 15.],
       [10., 22., 12.],
       [11.,  5., 11.],
       [12.,  6., 15.],
       [13., 11., 12.],
       [14.,  4., 28.],
       [15., 11., 15.],
       [11., 14., 23.],
       [17.,  3., 15.],
       [18.,  3.,  4.],
       [19., 11., 22.],
       [20.,  9.,  3.]])

In [ ]:
print(data.isnull().sum())
data_dropped = data.dropna()
print(data_dropped.isnull().sum())
data_dropped

SL NO    3
EmpID    3
DepID    5
dtype: int64
SL NO    0
EmpID    0
DepID    0
dtype: int64

    SL NO  EmpID  DepID
0     1.0    7.0    2.0
1     2.0   13.0   26.0
3     4.0   21.0   11.0
5     6.0   21.0   18.0
9    10.0   22.0   12.0
10   11.0    5.0   11.0
13   14.0    4.0   28.0
17   18.0    3.0    4.0
19   20.0    9.0    3.0

In [ ]:
data

    SL NO  EmpID  DepID
0     1.0    7.0    2.0
1     2.0   13.0   26.0
2     NaN   28.0   17.0
3     4.0   21.0   11.0
4     5.0   27.0    NaN
5     6.0   21.0   18.0
6     NaN    5.0   25.0
7     8.0    NaN   15.0
8     9.0   17.0    NaN
9    10.0   22.0   12.0
10   11.0    5.0   11.0
11   12.0    6.0    NaN
12   13.0    NaN   12.0
13   14.0    4.0   28.0
14   15.0   11.0    NaN
15    NaN   14.0   23.0
16   17.0    3.0    NaN
17   18.0    3.0    4.0
18   19.0    NaN   22.0
19   20.0    9.0    3.0

In [ ]:
data_mean = data.fillna(data.mean())
print(data_mean.isnull().sum())

SL NO    0
EmpID    0
DepID    0
dtype: int64

In [ ]:
data.isnull().sum()

SL NO    3
EmpID    3
DepID    5
dtype: int64

In [ ]:
data_mean

        SL NO      EmpID      DepID
0    1.000000   7.000000   2.000000
1    2.000000  13.000000  26.000000
2   10.823529  28.000000  17.000000
3    4.000000  21.000000  11.000000
4    5.000000  27.000000  15.266667
5    6.000000  21.000000  18.000000
6   10.823529   5.000000  25.000000
7    8.000000  12.705882  15.000000
8    9.000000  17.000000  15.266667
9   10.000000  22.000000  12.000000
10  11.000000   5.000000  11.000000
11  12.000000   6.000000  15.266667
12  13.000000  12.705882  12.000000
13  14.000000   4.000000  28.000000
14  15.000000  11.000000  15.266667
15  10.823529  14.000000  23.000000
16  17.000000   3.000000  15.266667
17  18.000000   3.000000   4.000000
18  19.000000  12.705882  22.000000
19  20.000000   9.000000   3.000000